x<div class="container">
    <div class="row">
        <div class="tags col-4">
            <a (click)="defineTagId(item.id)"class="btn tag-btn text-center tag-hover" *ngFor="let item of tags">{{item.name}}</a>
        </div>
        <div class="col-3"></div>
        <div class="col-5" style="margin-top: 10%">
          <ng-container *ngIf="this.userService.isLoggedIn">
            <a href="#topicModal"  data-bs-toggle="modal" data-bs-target="#topicModal" class="btn btn-primary">Create Topic</a>
          </ng-container>
            <a (click)="this.sorting = 1" class="btn sort-left-btn sort-hover">Sort By Publication Date</a>
            <a (click)="this.sorting = 2" class="btn sort-right-btn sort-hover">Sort By Likes</a>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
          <ul class="list-group" *ngFor="let item of topics | searchPipe | filterWithTags: this.tagId | sorted: this.sorting | pagination: this.pageNumber : 8">
              <li [routerLink]="['/topics/' + item.id]" class="list-group-item mt-3 topic-card">
                  <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                      <div class="media-body order-2 order-lg-1">
                          <h2 class="mt-0 font-weight-bold mb-2">{{item.title}}</h2>
                          <p class="font-italic text-muted mb-0 fs-44">{{item.description}}</p>
                          <div class="d-flex align-items-center justify-content-between mt-1">
                              <h6 class="font-weight-bold my-2">{{item.publicationDate | dateConverter: 'EEEE, MMMM d, y'}}</h6>
                              <div class="icons">
                                <img style="width: 35px; height: 35px;" class="heart-icon" src="../../../../assets/premium-icon-heart-2589054.png" alt="">
                                <span>{{item.likedByIds.length}}</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
</div>

<div class="container text-center">
  <div class="btn-group text-center mt-5" role="group">
    <button (click)="this.pageNumber = item" type="button" class="btn btn-secondary" style="border: 1px solid black;" *ngFor="let item of this.pages">{{item}}</button>
  </div>
</div>


<div class="modal fade" id="topicModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <form [formGroup]="this.topicService.form" (submit)="createTopic()">
            <div class="modal-header">
              <h5 class="modal-title fs-36">Create Topic</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3 form-group required">
                  <label for="Title">Title<span class="text-danger"> *</span></label>
                  <input formControlName="Title" type="text" name="title" class="form-control" id="Title" placeholder="Enter Topic Title">
                  <label class="text-danger" *ngIf="topicService.form.controls['Title'].touched 
                  && topicService.form.controls['Title'].invalid">Title is required</label>
              </div>
  
              <div class="mb-3 form-group required">
                  <label for="Description">Description<span class="text-danger"> *</span></label>
                  <textarea formControlName="Description" name="Description" class="md-textarea form-control" cols="40" rows="5"></textarea>
                  <label class="text-danger" *ngIf="topicService.form.controls['Description'].touched 
                  && topicService.form.controls['Description'].invalid">Description is required</label>
              </div>

              <div class="mb-3 form-group required">
                <label for="Tags">Tags<span class="text-danger"> *</span></label><br>
                <ng-container *ngFor="let item of tags">
                  <input class="form-check-input" [value]="item.id" (click)="pushTag($event)" style="margin-left: 5px;" type="checkbox">
                  <label style="margin-left: 5px; font-size: 16px;" for="checkbox">{{item.name}}</label>
                </ng-container>
                
            </div>

            </div>
            <div class="modal-footer pt-4 ">                  
              <button type="submit" data-bs-dismiss="modal" aria-label="Close" class="btn btn-brown mx-auto w-50 text-light auth-btn-hover">Confirm Creation</button>
            </div>
        </form>
      </div>
    </div>
</div>
