<div class="container text-center text-gray ">
    <div class="welcome mt-5">
        <h1>WELCOME</h1>
        <p>Paw-rum is the place where you can discuss your pet`s life.</p>
    </div>

    <div class="grid-layout">
        <div class="card-1 text-center card-hover">
            <h1>About Your Kitty</h1>
        </div>
        <div class="card-2 text-center card-hover">
            <h1>About Your Puppy</h1>
        </div>
        <div class="card-3 text-center card-hover">
            <h1>About Cleaning</h1>
        </div>
        <div class="card-4 text-center card-hover">
            <h1>About Feeding</h1>
        </div>
        <div class="card-5 text-center card-hover">
            <h1>About Clinics</h1>
        </div>
        <div class="card-6 text-center card-hover">
            <h1>About Grooming</h1>
        </div>
        <div class="card-7 text-center card-hover">
            <h1>About Pet Friends</h1>
        </div>
        <div class="card-8 text-center card-hover">
            <h1>About Everything</h1>
        </div>
    </div>
</div>
