<div id="navbar" class="container mt-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-black">
        <div class="container-fluid nav-font">
            <a href="" class="navbar-brand"><img src="../../../../assets/logo.png" alt="Logo"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav nav-font">
                    <a href="" class="nav-item nav-link active">Home</a>
                    <a href="topics" class="nav-item nav-link">Topics</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">My Activity</a>
                        <div class="dropdown-menu bg-black nav-font">
                            <a href="myactivity/topics" class="dropdown-item">My Topics</a>
                            <a href="myactivity/responses" class="dropdown-item">My Responses</a>
                        </div>
                    </div>
                    <a href="about" class="nav-item nav-link">About</a>
                </div>
                <form class="d-flex">
                    <div class="input-group" style="width: 500px;">
                        <input type="text" class="form-control" placeholder="Search Topic">
                        <button type="button" class="btn btn-secondary"><img src="../../../../assets/free-icon-search-149852.png" alt="" width="25px" height="25px"></button>
                    </div>
                </form>cd 
                <div class="navbar-nav nav-font">
                    <img src="../../../../assets/user (2).png" width="35px" height="35px" alt="">
                    <a href="#" class="nav-item nav-link">Login</a>
                </div>
            </div>
        </div>
    </nav>
</div>

