.nav-font a{
    color: white;
}

.nav-font a:hover{
    background-color: black;
    color: #fefbb8;
}

.auth-btn-hover:hover{
	background-color: #dd7003 !important;
}

.auth-btn-disabled:disabled{
    background-color: #4b2602 !important;
}