<div id="navbar" class="container mt-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-black">
        <div class="container-fluid nav-font">
            <a href="" class="navbar-brand"><img src="../../../../assets/logo.png" alt="Logo"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav nav-font">
                    <a href="" class="nav-item nav-link active">Home</a>
                    <a href="topics" class="nav-item nav-link">Topics</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">My Activity</a>
                        <div class="dropdown-menu bg-black nav-font">
                            <a href="myactivity/topics" class="dropdown-item">My Topics</a>
                            <a href="myactivity/responses" class="dropdown-item">My Responses</a>
                        </div>
                    </div>
                    <a href="about" class="nav-item nav-link">About</a>
                </div>
                <form class="d-flex">
                    <div class="input-group" style="width: 500px;">
                        <input type="text" class="form-control" placeholder="Search Topic">
                        <button type="button" class="btn btn-secondary"><img src="../../../../assets/free-icon-search-149852.png" alt="" width="25px" height="25px"></button>
                    </div>
                </form>
                <ng-template [ngIf]="!this.service.isLoggedIn" [ngIfElse]="loggedOut">
                  <div class="navbar-nav nav-font">
                      <img src="../../../../assets/user (2).png" width="35px" height="35px" alt="">
                      <a href="#myModal" data-bs-toggle="modal" data-bs-target="#myModal" class="nav-item nav-link">Login</a>
                  </div>
                </ng-template>
                <ng-template #loggedOut>
                  <div class="navbar-nav nav-font" style="margin-right: 6.5%;">
                    <img src="../../../../assets/writer.png" width="35px" height="35px" alt="">
                    <div class="nav-item dropdown">
                      <a data-bs-toggle="dropdown" class="nav-link dropdown-toggle">Profile</a>
                      <div class="dropdown-menu bg-black nav-font">
                        <a (click)="logout()" class="dropdown-item">Logout</a>
                     </div>
                    </div>
                  </div>
                </ng-template>
            </div>
        </div>
    </nav>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <form (submit)="onLoginSubmit()">
            <div class="modal-header">
              <h5 class="modal-title fs-36">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3 form-group required">
                  <label for="Email">Email<span class="text-danger"> *</span></label>
                  <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="text" name="authemail" class="form-control" id="AuthEmail" placeholder="Enter Email">
              </div>
  
              <div class="mb-3 form-group required">
                  <label for="Password">Password<span class="text-danger"> *</span></label>
                  <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" name="authpassword" class="form-control" id="AuthPassword" placeholder="Enter Password">
              </div>
            </div>
            <div class="modal-footer pt-4 ">                  
              <button type="submit" data-bs-dismiss="modal" aria-label="Close" class="btn btn-brown mx-auto w-50 text-light auth-btn-hover">Login</button>
            </div>
            <p class="text-center">Not yet account, <a href="#signUpModal" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign Up</a></p> 
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="signUpModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <form [formGroup]="service.formModel" autocomplete="off" (submit)="onRegisterSubmit()">
            <div class="modal-header">
              <h5 class="modal-title fs-36">Register</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3 form-group required">
                  <label>Email<span class="text-danger"> *</span></label>
                  <input formControlName="Email" type="text" class="form-control" id="Email" placeholder="Enter Email" [email]="true">
                  <label class="text-danger" *ngIf="service.formModel.controls['Email'].touched 
                  && service.formModel.controls['Email'].invalid">Invalid Email Format</label>
              </div>

              <div class="mb-3 form-group required">
                <label>Nickname<span class="text-danger"> *</span></label>
                <input formControlName="Nickname" type="text" class="form-control" id="Nickname" placeholder="Enter Nickname">
                <label class="text-danger" *ngIf="service.formModel.controls['Nickname'].touched
                && service.formModel.controls['Nickname'].invalid">Invalid Nickname Format</label>
              </div>

              <div class="mb-3 form-group required">
                <label>Birth Date<span class="text-danger"> *</span></label>
                <input formControlName="BirthDate" type="date" class="form-control" id="BirthDate">
                <label class="text-danger" *ngIf="service.formModel.controls['BirthDate'].touched
                && service.formModel.controls['BirthDate'].invalid">Invalid Date Format</label>
              </div>
                <div class="mb-3 form-group required">
                    <label>Password<span class="text-danger"> *</span></label>
                    <input formControlName="Password" type="password" class="form-control" id="Password" placeholder="Enter Password">
                    <label class="text-danger" *ngIf="service.formModel.get('Password')?.touched 
                    && (service.formModel.get('Password')?.errors?.['required'] || service.formModel.get('Password')?.errors?.['pattern'])">Password must contain 1 digit, 1 uppercase letter and one special char. Minimum length must be 8 symbols.</label>
                </div>
    
                  <div class="mb-3 form-group required">
                    <label>Confirm Password<span class="text-danger"> *</span></label>
                    <input formControlName="ConfirmPassword" type="password" class="form-control" id="ConfirmsPassword" placeholder="Confirm Password">
                    <label class="text-danger" *ngIf="service.formModel.get('ConfirmPassword')?.touched 
                    && (service.formModel.get('ConfirmPassword')?.errors?.['required'] || service.formModel.get('ConfirmPassword')?.errors?.['mismatch'])">Invalid Confirmation Password</label>
                </div>
              </div>
            <div class="modal-footer pt-4">                  
              <button type="submit" class="btn btn-brown mx-auto w-50 text-light auth-btn-hover auth-btn-disabled"  data-bs-dismiss="modal" aria-label="Close">Register</button>
            </div>
            <p class="text-center">Account exists, <a href="#myModal" data-bs-toggle="modal" data-bs-target="#myModal">Sign In</a></p> 
        </form>
      </div>
    </div>
</div>
