/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("assets/190.jpg");
    background-size: cover;
}

.btn-brown{
    background-color: #964B00;
}